@import "vars";
@import "global";
@import "fonts";

//header-top
.header_top {
  background-color: #eef1f3;
}
.header_top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header_top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seller_btn {
  margin-right: 50px;
  padding: 10px;
  width: 140px;
  border-radius: 13px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: $blue;
}

.header_box {
  a {
    color: #88898a;
    width: 20px;
    height: 20px;
    position: relative;
    & + a {
      margin-left: 33px;
    }
  }
  .bell {
    &::before {
      content: "\e858";
      font-family: "Linearicons-Free";
      position: absolute;
      bottom: 0;
    }
  }
  .message {
    &::before {
      content: "\e818";
      font-family: "Linearicons-Free";
      position: absolute;
      bottom: 0;
    }
  }
  .cart {
    &::before {
      content: "\e82e";
      font-family: "Linearicons-Free";
      position: absolute;
      bottom: 0;
    }
  }
}

.header_seler {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.seler_img {
  display: inline-block;
  background-color: #7c7979;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 23px;
}

.seler_name a {
  color: #000;
}

.seller_balance {
  color: $blue;
}

//Header Menu
.menu {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.menu_list {
  li {
    display: inline-block;
  }
  li + li {
    margin-left: 35px;
  }
  a {
    @include f500;
    color: #333333;
    text-transform: uppercase;
  }
}

.header_search {
  font-family: "Quicksand", sans-serif;
  max-width: 360px;
  min-width: 250px;
  width: 100%;
  position: relative;

  input {
    width: 100%;
    height: 45px;
    border: 1px solid #d9dfe5;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 80px;

    &::placeholder {
      color: $search;
    }
  }
  button {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #0674ec;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    &::before {
      content: "\e86f";
      font-family: "Linearicons-Free";
      color: #fff;
    }
  }
}

//Banner
.banner {
  background: rgb(46, 43, 43);
  background: linear-gradient(
    180deg,
    rgba(41, 76, 206, 1) 0%,
    rgba(25, 61, 197, 1) 35%,
    rgba(13, 80, 189, 1) 100%
  );
}
.banner_inner-items {
  position: relative;
  padding: 180px 0px 230px;
}

.banner_inner {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: rgb(243, 243, 248);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  &-title {
    font-size: 60px;
    line-height: 72px;
  }
  span {
    @include f700;
    display: inline-block;
    margin-bottom: 50px;
  }
  &-text {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 70px;
  }
  button {
    cursor: pointer;
    font-size: 14px;
    width: 190px;
    height: 55px;
    border-radius: 21px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
      background-color: #fff;
      color: $blue;
    }
    &:active {
      background-color: rgb(245, 245, 245);
    }
    &.all {
      margin-right: 28px;
    }
  }
}

.banner_inner-item {
  position: absolute;
  z-index: 3;
  max-width: 1140px;
  width: 100%;
  height: 135px;
  bottom: -66px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 40px;
  form {
    display: flex;
  }
  input {
    max-width: 613px;
    width: 100%;
    height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 4px 0 0 4px;
    padding: 0 15px 0 28px;
    font-size: 16px;
    line-height: 42px;
    color: #676767;
  }
  select {
    border: 1px solid #dcdcdc;
    border-radius: 0 4px 4px 0;
    width: 195px;
    height: 55px;
    option {
      color: $search;
    }
  }
  button {
    padding: 0;
    margin-left: 30px;
    width: 222px;
    height: 55px;
    background-color: $blue;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
}
.banner_inner-shadow-1 {
  position: absolute;
  z-index: 2;
  max-width: 1110px;
  width: calc(100% - 30px);
  height: 135px;
  bottom: -120px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}
.banner_inner-shadow-2 {
  z-index: 1;
  position: absolute;
  max-width: 1080px;
  width: calc(100% - 60px);
  height: 135px;
  bottom: -107px;
  border-radius: 6px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

//Features
.features {
  padding-top: 185px;
  padding-bottom: 120px;
}
.features_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  .item {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    height: 400px;
    width: 360px;
    padding: 41px 35px 52px;
    cursor: pointer;
    &:hover {
      border-radius: 4px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
  .item_icon {
    margin-bottom: 35px;
  }
  .item_title {
    margin-bottom: 35px;
    color: #010101;
    font-size: 24px;
  }
  .item_text {
    color: #6c6c6c;
    font-size: 16px;
  }
}

//Section Slider

.slider {
  font-family: "Quicksand", sans-serif;
  background-color: $bggray;
  padding: 120px 0px;
}
.slider_buttons {
  background-color: $violet;
}

.slider_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  min-height: 450px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  &-img {
    text-align: center;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #4e5760;
    max-width: 555px;
    width: 100%;
    height: 450px;
    padding-top: 190px;
    &:hover {
      background-image: url(../images/slider/bg-slider.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      a {
        display: inline-block;
      }
    }
    a {
      display: none;
      padding-top: 12px;
      margin: 10px 5px;
      background: transparent;
      border-radius: 34px;
      border: 1px solid #fff;
      height: 43px;
      width: 127px;
      color: #fff;
      font-size: 15px;
      outline: none;
      &:hover {
        color: $blue;
        background-color: #fff;
      }
    }
  }
  &-content {
    display: inline-block;
    max-width: 585px;
    width: 100%;
    min-height: 450px;
    padding: 50px 60px 25px 50px;
  }
  &-title {
    font-size: 24px;
    color: #000;
    padding-bottom: 24px;
  }
  &-author {
    display: flex;
    justify-content: space-between;
    display: inline-block;

    span {
      font-size: 14px;
      @include f500;
      margin-left: 7px;
    }
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $violet;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .icon {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 20px;
    }
  }
  &-user {
    display: flex;
    align-items: center;
    .black {
      color: #000;
    }
    .violet {
      color: $violet;
    }
  }
  &-text {
    margin-top: 35px;
    margin-bottom: 43px;
    font-size: 15px;
    color: $text;
  }
  &-links {
    padding-bottom: 44px;
    border-bottom: 1px solid #ececec;
    a {
      font-size: 15px;
      color: #8d939c;
      background-color: #f1f3f6;
      padding: 7px 17px;
      border-radius: 20px;
      & + a {
        margin-left: 7px;
      }
    }
  }
  &-box {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
  }
  &-buy {
    display: flex;
    justify-content: space-between;
  }
  &-price {
    font-size: 15px;
    font-family: 500px;
    a {
      color: #fff;
      background-color: $blue;
      padding: 10px 20px;
      border-radius: 20px;
    }
  }
  &-likes {
    display: flex;
    align-items: center;
    a {
      margin-left: 20px;
    }
    span {
      margin-right: 10px;
    }
    .like {
      color: #555555;
      span {
        color: $violet;
      }
    }
    .cart {
      color: $blue;
    }
  }
}

//Section New Items

.new_items {
  padding: 120px 0px;
  &-top {
    margin-bottom: 30px;
  }
  &-filter {
    color: $btncolor;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  &-icon {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    img {
      cursor: pointer;
    }
    .down {
      display: none;
      position: absolute;
      right: -46px;
      top: -10px;
      z-index: 1;
    }
    &:hover {
      .down {
        display: block;
      }
      .new_items-list {
        display: block;
      }
    }
  }
  &-list {
    display: none;
    position: absolute;
    z-index: 2;
    left: -152px;
    top: 40px;
    min-height: 180px;
    width: 180px;
    padding-left: 20px;
    padding-bottom: 28px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    button {
      background: transparent;
      display: block;
      border: none;
      padding-top: 15px;
      color: $btncolor;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }
  &-buttons {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    width: 100%;
    height: 90px;
    padding: 30px 112px 30px 30px;
    // font-weight: 400;
    button {
      background-color: $btnbg;
      color: $btncolor;
      border: none;
      padding: 8px 19px;
      border-radius: 24px;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
  }
  .new_bottom-btn {
    text-align: center;
    margin-top: 30px;
    button {
      background-color: $blue;
      color: #fff;
      border: none;
      padding: 19px 33px;
      border-radius: 30px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

//New Slider
.new_items-slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.new_slider {
  margin-bottom: 30px;
  max-width: 361px;
  height: 530px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  &-img {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #4e5760;
    max-width: 361px;
    // width: 100%;
    height: 230px;
    padding-top: 95px;
    &:hover {
      background-image: url(../images/new_items/bg_new_slider8.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      a {
        display: inline-block;
      }
    }
    a {
      display: none;
      padding-top: 12px;
      margin: 10px 5px;
      background: transparent;
      border-radius: 34px;
      border: 1px solid #fff;
      height: 43px;
      width: 127px;
      color: #fff;
      font-size: 15px;
      // font-weight: 400;
      outline: none;
      &:hover {
        color: $blue;
        background-color: #fff;
      }
    }
  }
  &-content {
    height: 299px;
    width: 361px;
  }
  &-inner {
    display: inline-block;
    padding: 33px 39px 0px 32px;
  }
  &-title {
    @include f500;
    font-size: 20px;
    color: #000;
    padding-bottom: 24px;
  }
  &-author {
    display: flex;
    justify-content: space-between;
    display: inline-block;

    span {
      font-size: 14px;
      @include f500;
      margin-left: 7px;
    }
    .avatar {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: $violet;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .icon {
      width: 13px;
      height: 17px;
      // border-radius: 50%;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 20px;
    }
  }
  &-user {
    display: flex;
    align-items: center;
    .black {
      color: #000;
    }
    .violet {
      color: $violet;
    }
  }
  &-text {
    margin-top: 35px;
    padding-bottom: 37px;
    font-size: 15px;
    color: $text;
  }
  &-box {
    border-top: 1px solid #ececec;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-price {
    font-size: 15px;
    font-family: 500px;
    a {
      color: $blue;
      background-color: rgba(6, 116, 236, 0.2);
      padding: 8px 17px;
      border-radius: 20px;
    }
  }
  &-likes {
    a {
      margin-left: 14px;
    }
    span {
      margin-right: 7px;
    }
    .like {
      color: #555555;
      span {
        color: $violet;
      }
    }
  }
  .cart {
    color: $blue;
    span {
      margin-right: 10px;
    }
  }
  .jq-ry-container {
    display: inline-block;
    margin-left: 16px;
    margin-top: 0px;
  }
}

//Section Follow Slider

.follower {
  background-color: $bggray;
  padding: 120px 0;
}

.follower_buttons {
  background-color: $blue;
}

//Secrion FUN

.fun {
  background-color: #212225;
  padding: 100px 0;
  &_items {
    display: flex;
    justify-content: space-between;
  }
  &_item {
    width: 290px;
    text-align: center;
  }
  &_image {
    text-align: center;
    margin-bottom: 58px;
    svg {
      height: 41px;
      width: 48px;
    }
  }
  &_number {
    font-size: 26px;
    margin-bottom: 23px;
  }
  &_discription {
    color: #f0f0f0;
  }
}
.item-yellow {
  color: #feb71d;
  svg {
    fill: #feb71d;
  }
}

.item-blue {
  color: #58c9e9;
  svg {
    fill: #58c9e9;
  }
}
.item-green {
  color: #77de51;
  svg {
    fill: #77de51;
  }
}
.item-red {
  color: #ff6a6d;
  svg {
    fill: #ff6a6d;
  }
}

//Section Choose

.choose {
  @include f400;
  background-color: $bggray;
  padding: 120px 0;
  &_title {
    text-align: center;
    &-inner {
      @include f500;
      margin-bottom: 40px;
      font-size: 36px;
      span {
        color: $blue;
      }
    }
    &-text {
      @include f400;
      max-width: 680px;
      margin: 0 auto;
      line-height: 36px;
      font-size: 16px;
      margin-bottom: 60px;
    }
  }
}

.choose_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.choose_item {
  max-width: 361px;
  height: 373px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  &-number {
    padding: 19px 19px 0 19px;
    font-size: 48px;
    color: rgba(92, 135, 248, 0.2);
  }
  &-image {
    margin: 0 auto;
    height: 50px;
    width: 60px;
    img {
    }
  }
  &-title {
    padding: 55px 0px 35px;
    text-align: center;
    font-size: 24px;
    @include f500;
  }
  &-text {
    text-align: center;
    padding: 0 34px 60px;
  }
}

//Section Sell_Buy
.sell_buy {
  .author {
    float: left;
    background-image: url(../images/sell_buy/bg_blue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .saller {
    float: left;
    background-image: url(../images/sell_buy/bg_violet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-items {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 50%;
    padding: 100px 0;
    color: #fff;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-image {
    text-align: center;
    margin-bottom: 50px;
  }
  &-title {
    font-size: 36px;
    @include f400;
    margin-bottom: 36px;
  }
  &-text {
    padding: 0 182px;
    @include f400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  button {
    padding: 19px 27px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }
  .btn-author {
    background-color: #fff;
    color: $blue;
  }
  .btn-saller {
    background-color: #fff;
    color: $violet;
  }
}

//Section Testimotional

.testimotional {
  padding: 120px 0;
  @include f400;
  &_title {
    text-align: center;
    &-inner {
      font-size: 36px;
      margin-bottom: 35px;
      span {
        color: $blue;
      }
    }
    &-text {
      color: $text;
      padding: 0 210px;
      line-height: 30px;
    }
  }
  &_items {
    color: $text;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  &-btn {
    text-align: center;
    button {
      color: #fff;
      background-color: $blue;
      border: none;
      padding: 19px 27px;
      border-radius: 30px;
      cursor: pointer;
    }
  }
}

.testimotional_item {
  border-radius: 0px 4px 4px 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  width: 555px;
  height: 315px;
  border-left: 2px solid $blue;
  padding: 50px 40px 0;
  margin-bottom: 60px;
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &-user {
    display: flex;
    align-items: center;
  }
  &-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #808080;
    display: inline-block;
    margin-right: 20px;
  }
  &-name {
    font-size: 20px;
    @include f500;
    a {
      color: #000;
    }
  }
  &-prof {
    font-size: 16px;
  }
}

//blog

.blog {
  padding: 120px 0;
  @include f400;
  background-color: $bggray;
  &_title {
    text-align: center;
    &-inner {
      font-size: 36px;
      margin-bottom: 35px;
      span {
        color: $blue;
      }
    }
    &-text {
      color: $text;
      padding: 0 210px;
      line-height: 30px;
    }
  }
}

.blog_items {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.blog_item {
  max-width: 360px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  &-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    background-color: #4e5760;
    max-width: 360px;
    height: 230px;
  }
  &-inner {
    padding: 30px 30px 0px 30px;
    height: 185px;
    overflow: hidden;
  }
  &-title {
    @include f500;
    font-size: 22px;
    color: #000;
    padding-bottom: 35px;
  }
  &-text {
    overflow: hidden;
    font-size: 15px;
    line-height: 31px;
    color: $text;
    margin-bottom: 30px;
  }
  &-box {
    @include f400;
    border-top: 1px solid #ececec;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  &-data {
    color: $btncolor;
    align-items: center;
    border-right: 1px solid #ececec;
    padding-right: 38px;
    padding-left: 25px;
    line-height: 40px;
    position: relative;
    &::before {
      content: "\e864";
      font-family: "Linearicons-Free";
      color: $blue;
      position: absolute;
      left: 0;
    }
  }
  &-looks {
    display: flex;
    align-items: center;
    a {
      color: $btncolor;
    }
  }
  &-discussions {
    padding-left: 23px;
    position: relative;
    &::before {
      content: "\e83f";
      font-family: "Linearicons-Free";
      position: absolute;
      left: 0;
    }
  }
  &-views {
    margin-left: 30px;
    padding-left: 23px;
    position: relative;
    &::before {
      content: "\e81b";
      font-family: "Linearicons-Free";
      position: absolute;
      left: 0;
    }
  }
}

//Section support

.support_items {
  display: flex;
  @include f500;
}

.support_item {
  text-align: center;
  width: 50%;
  padding: 60px 0 40px;
  &-text {
    font-size: 24px;
  }
}
.warranty {
  border-right: 1px solid #ececec;
  img {
    margin-bottom: 30px;
  }
  .support_item-text {
    span {
      color: $blue;
    }
  }
}
.help {
  img {
    margin-bottom: 33px;
  }
  .support_item-text {
    span {
      color: $violet;
    }
  }
}

//Section Bottom_banner

.bottom_banner {
  background-image: url(../images/bottom_banner/bgbanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &-inner {
    text-align: center;
    padding: 112px 0;
    color: #fff;
    @include f400;
  }
  &-title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  &-text {
    font-size: 18px;
    margin-bottom: 50px;
  }
  button {
    color: $blue;
  }
}

//Section Footer

.footer {
  background-color: #262b30;
  &_inner {
    color: #88898a;
    display: flex;
    justify-content: space-between;
    padding: 115px 0 120px;
    &-item {
      max-width: 280px;
      &-subscribe {
        max-width: 370px;
        width: 100%;
      }
    }
    &-title {
      margin-bottom: 36px;
      display: flex;
      align-items: center;
      height: 42px;
      color: #fff;
      span {
        color: $blue;
      }
      &-text {
        margin-left: 6px;
        font-size: 24px;
        @include f700;
        a {
          color: #fff;
        }
      }
    }
    &-text {
      line-height: 28px;
    }
    &-contacts {
      line-height: 26px;
      margin-top: 25px;

      a {
        color: #88898a;
        font-size: 15px;
        line-height: 26px;
      }
    }
    &-phone {
      padding-left: 30px;
      position: relative;
      &::before {
        content: "\e830";
        font-family: "Linearicons-Free";
        position: absolute;
        left: 0;
      }
    }
    &-mail {
      padding-left: 30px;
      position: relative;
      padding-bottom: 10px;
      &::before {
        content: "\e818";
        font-family: "Linearicons-Free";
        position: absolute;
        left: 0;
      }
    }
    &-location {
      font-size: 15px;
      line-height: 26px;
      padding-left: 30px;
      position: relative;
      &::before {
        content: "\e833";
        font-family: "Linearicons-Free";
        position: absolute;
        left: 0;
        bottom: 10px;
      }
    }
  }
}

.footer_inner-item-links {
  a {
    font-size: 15px;
    color: #88898a;
    line-height: 32px;
  }
}

.footer_inner-search {
  margin-top: 35px;
  margin-bottom: 45px;
  width: 360px;
  position: relative;
  input {
    width: 100%;
    height: 50px;
    border: 1px solid #d9dfe5;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 110px;
    &::placeholder {
      color: $search;
    }
  }
  button {
    position: absolute;
    right: 0;
    bottom: 0px;
    height: 100%;
    background-color: $blue;
    color: #fff;
    border: transparent;
    border-radius: 25px;
    cursor: pointer;
  }
}
.footer_inner-icons {
  img + img {
    margin-left: 10px;
  }
}

//Section Bottom Footer

.bottom_footer {
  background-color: #192027;
  padding: 40px 0;
  &-inner {
    color: #999999;
    text-align: center;
    font-size: 15px;
    span {
      color: #fff;
    }
  }
}

//Category Page
//Section Banner

.banner_page {
  text-align: center;
  height: 280px;
  padding: 90px 0px 30px;
  &-title {
    color: #fff;
    font-size: 26px;
    margin-bottom: 30px;
  }
  &-search {
    position: relative;
    margin-bottom: 40px;
    input {
      width: 555px;
      height: 45px;
      border: 1px solid #d9dfe5;
      border-radius: 25px;
      padding-left: 25px;
      padding-right: 80px;
    }
    button {
      position: absolute;
      right: 293px;
      height: 100%;
      background-color: #0674ec;
      border: none;
      border-radius: 25px;
      color: #fff;
      cursor: pointer;
      font-size: 15px;
    }
  }
}

.breadcrumps_list {
  li {
    display: inline-block;
    color: #bfcad7;
  }
  a {
    color: #fff;
  }
}

//Section Filter
.filter {
  padding: 45px 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.filter_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-products {
    a {
      color: #6c6c6c;
      font-size: 16px;
      &.active {
        color: $blue;
      }
      & + a {
        margin-left: 40px;
      }
    }
  }
}

.filter_items-view {
  display: flex;
}

.filter_items-price,
.filter_items-onpage {
  font-size: 14px;
  width: 220px;
  height: 45px;
  border: 1px solid #eceff2;
  border-radius: 3px;
  padding: 14px 19px;
  color: #747b86;
  position: relative;
  a {
    color: #747b86;
  }
  span {
    color: $text;
  }
  button {
    padding: 0;
    font-size: 10px;
    margin-left: 45px;
  }
}

.filter_items-onpage {
  margin: 0px 30px;
}
.filter_items-gridlist {
  width: 93px;
  height: 45px;
  border: 1px solid #eceff2;
  border-radius: 3px;
  padding: 14px 19px;
  display: flex;
  justify-content: space-between;
  svg {
    cursor: pointer;
    &.active {
      fill: $blue;
    }
  }
}

//Section Product Page
.product_page-aside {
  min-width: 265px;
}
.product_page {
  background-color: $bggray;
  padding: 80px 0px 120px;
  &-title {
    color: #454545;
    font-size: 20px;
    @include f500;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e7ebee;
    button {
      font-size: 13px;
      padding: 0;
      float: right;
      padding-top: 5px;
    }
  }
  &-list {
    li {
      a {
        padding-left: 20px;
        padding-bottom: 20px;
        margin-right: 20px;
        font-size: 15px;
        color: #464749;
        position: relative;
        &.active {
          color: $blue;
        }
      }
      span {
        float: right;
        font-size: 15px;
        color: #878d96;
      }
    }
  }
}

.categories-list {
  li {
    a::before {
      content: "\e876";
      font-family: "Linearicons-Free";
      position: absolute;
      left: 0;
      font-size: 10px;
      color: #464749;
    }
  }
}

.products-list {
  li {
    a::before {
      content: "o";
      position: absolute;
      left: 0;
      color: #464749;
    }
  }
}

.aside {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 3px;
  max-width: 263px;
  padding: 35px 30px 0px;
  & + .aside {
    margin-top: 30px;
  }
}

.irs-min,
.irs-max,
.irs-with-grid .irs-grid {
  display: none;
}

.irs--flat .irs-line {
  color: #f2f5f8;
  height: 5px;
}

.irs--flat .irs-bar {
  background-color: $violet;
  height: 5px;
}

.irs--flat .irs-handle {
  height: 16px;
  width: 16px;
  border: 4px solid $blue;
  border-radius: 50%;
  background-color: #fff;
  top: 19px;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs-from,
.irs-single,
.irs-to {
  top: 55px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: $violet;
  font-size: 15px;
  line-height: 32px;
  text-shadow: none;
  padding: 0px 0px;
  background-color: #f1ecf9;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  display: block;
}
.irs {
  margin-bottom: 80px;
}

.product_page-search {
  text-align: center;
  button {
    background-color: $blue;
    color: #fff;
    margin-bottom: 40px;
  }
}

.product_page-inner {
  display: flex;
  justify-content: space-between;
}
.product_page-items {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__page {
  &-item {
    width: 260px;
    max-height: 372px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    transition: all 0.5s;
  }
  &-image {
    height: 160px;
    border-radius: 4px 4px 0 0;
    background-color: rgb(182, 38, 182);
  }
  &-content {
    padding: 20px 15px 15px;
    border-bottom: 1px solid #ececec;
  }
  &-title {
    font-size: 18px;
    @include f500;
    margin-bottom: 18px;
    color: #000;
  }
  &-author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    a {
      color: #000;
    }
  }
  &-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 7px;
    background-color: $violet;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-cart {
    color: $blue;
    font-size: 15px;
    button {
      font-size: 15px;
      padding: 0;
      color: $blue;
      margin-right: 10px;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    padding: 13px 23px;
  }
  &-price {
    font-size: 15px;
    color: $blue;
    @include f500;
    padding: 5px 15px;
    border-radius: 18px;
    background-color: #e6f1fd;
  }
  &-theme {
    a {
      font-size: 15px;
      padding-left: 20px;
      color: $violet;
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 1px;
      }
    }
  }
}
.pagination {
  margin-top: 60px;
  width: 100%;
  text-align: right;
  li {
    display: inline-block;
    a {
      width: 50px;
      height: 38px;
      border-radius: 25px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}

.product__page-item {
  &.list {
    width: 100%;
    display: flex;
    height: 210px;
    margin-bottom: 30px;
    .product__page-image {
      width: 230px;
      height: 210px;
      border-radius: 4px 0 0 4px;
    }
    .product__page-content {
      width: 260px;
    }
  }
}
