@import "vars";
@import "global";
@import "fonts";

//header-top
.header_top {
  background-color: #eef1f3;
}
.header_top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header_top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seller_btn {
  margin-right: 50px;
  padding: 10px;
  width: 140px;
  border-radius: 13px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: $blue;
}

.header_box {
  a + a {
    margin-left: 33px;
  }
}

.header_seler {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.seler_img {
  display: inline-block;
  background-color: #7c7979;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 23px;
}

.seler_name a {
  color: #000;
}

.seller_balance {
  color: $blue;
}

//Header Menu
.menu {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.menu_list {
  li {
    display: inline-block;
  }
  li + li {
    margin-left: 35px;
  }
  a {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
  }
}

.header_search form {
  font-family: "Quicksand", sans-serif;
  width: 360px;
  position: relative;
  input {
    width: 100%;
    height: 45px;
    border: 1px solid #d9dfe5;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 80px;
    &::placeholder {
      color: $search;
      font-weight: 400;
    }
  }
  button {
    position: absolute;
    right: 0;
    bottom: 0px;
    padding-top: 5px;
    width: 70px;
    height: 45px;
    background-color: $blue;
    border: transparent;
    border-radius: 25px;
    cursor: pointer;
    span {
      color: #fff;
    }
  }
}

//Banner
.banner {
  position: relative;
  min-height: 720px;
  background-color: #2b2b2b;
}

.banner_bg {
  position: absolute;
  z-index: 1;
  height: 720px;
  width: 100%;
  background: linear-gradient(
    to left,
    rgba(0, 48, 222, 0.8) 0%,
    rgba(23, 69, 237, 0.8) 54%,
    rgba(46, 90, 251, 0.8) 100%
  );
}

.banner_inner {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin: 183px auto;
  color: rgb(243, 243, 248);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  &-title {
    font-size: 60px;
    line-height: 72px;
  }
  span {
    font-weight: 700;
    display: inline-block;
    margin-bottom: 50px;
  }
  &-text {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 70px;
  }
  button {
    cursor: pointer;
    font-size: 14px;
    width: 190px;
    height: 55px;
    border-radius: 21px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
      background-color: #fff;
      color: $blue;
    }
    &:active {
      background-color: rgb(245, 245, 245);
    }
    &.all {
      margin-right: 28px;
    }
  }
}

.banner_search {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: -70px;
  left: 195px;
  z-index: 5;
  width: 1140px;
  height: 135px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 40px;
  input {
    width: 805px;
    height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-left: 28px;
    padding-right: 205px;
    color: $search;
  }
  select {
    position: absolute;
    top: 41px;
    right: 297px;
    border: none;
    border-left: 1px solid #dcdcdc;
    width: 195px;
    height: 53px;
    option {
      color: $search;
    }
  }
  button {
    margin-left: 30px;
    background-color: $blue;
    border: transparent;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    padding: 19px 68px;
    cursor: pointer;
  }
}

.banner_shadow-1 {
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  opacity: 0.502;
  width: 1110px;
  height: 135px;
  z-index: 4;
  position: absolute;
  left: 210px;
  bottom: -57px;
}

.banner_shadow-2 {
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  opacity: 0.502;
  position: absolute;
  left: 225px;
  bottom: -44px;
  width: 1080px;
  height: 135px;
  z-index: 3;
}

//Features
.features_items {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .item {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    height: 400px;
    width: 360px;
    margin-top: 185px;
    padding: 41px 35px 52px;
    cursor: pointer;
    &:hover {
      border-radius: 4px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
  .item_icon {
    margin-bottom: 35px;
  }
  .item_title {
    margin-bottom: 35px;
    color: #010101;
    font-size: 24px;
  }
  .item_text {
    color: #6c6c6c;
    font-size: 16px;
  }
}
